@CHARSET "UTF-8";

body {
	background-color: #333333;
	background-image: linear-gradient(to right black, white);
	
	font-family: Arial, sans-serif;
}

h1 {
	font-family: 'Righteous', cursive;
	text-align: center;
	background-image: linear-gradient(to bottom, rgba(255,255,255,.5), rgba(0,0,0,.5));
	color: white;
	
	border-radius: 2px;
	
	padding-top: 20px;
	padding-bottom: 20px;
}

h1 a:hover {
	color: rgb(94, 0, 0);
}


a {
	text-decoration: none;
	color: black;
}

h2 {
	font-family: 'Righteous', cursive;
	background-image: linear-gradient(to bottom, rgba(255,255,255,.5), rgba(94, 0, 0, .5));
	border: 1px solid rgb(94, 0, 0);
	border-radius: 2px;
	clear: both;
	padding-left: 25px;
	
}

img {
	background-image: radial-gradient(ellipse farthest-corner at 45px 45px , #FFFFFF 0%, rgba(0, 0, 255, 0) 50%, #000000 95%);	
}

a img:hover {
	opacity: .5;
}

ul.buttonBar {
	list-style-type: none;
}
	
ul.buttonBar li {
	float: left;
}

ul.gallery {
	//width: 75vw;
	width: 848px;
	padding: 4px;
	
	border: solid 1px silver;
	border-radius: 2px;
	margin-left: 16px;
}

.gallery li {
	//float: left;
	display: inline-block;
	vertical-align: top;
	padding: 0px;
	margin: 0px;
	//width: 160px;
	
}

.gallery figure {
	border: 1px solid #666;
	background-color: gray;
	padding: 4px;
	width: 152px;
	margin: 2px;
	border-radius: 2px;
	
}

.gallery figure img {
	//padding: 4px;
	background-color: black;
	border: 1px solid black;
	width: 150px;
	height: 150px;
	
}

.gallery figcaption a {
	display: block;
	text-align: center;
	text-decoration: none;
	color: black;
	font-size: small;
}

.gallery figcaption a:hover {
	//border: 1px solid black;
	border-radius: 2px;
	background-color: rgb(94, 0, 0);
	color: silver;
}
	
.gallery figcaption a.albumTitle {
}

.gallery figcaption a.artistName {
	font-style: italic
}

img.albumCover {
	width: 400px;
	height: 400px;
	border: 1px solid silver;
	border-radius: 2px;
	background-color: rgb(0, 0, 0, .3);
	padding: 10px;
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
}

a.mutator {
	font-family: 'Righteous', cursive;
	
	color: silver;
	background: black;
	border: 1px solid silver;
	border-radius: 2px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin: 5px 5px 5px 5px;
}

a.mutator:FIRST-OF-TYPE {
	float: clear;
}

a.mutator:hover {
	color: black;
	background: silver;
	border: 1px solid black;
}

/* div.statBox {
	display: inline-block;
	border: 1px solid silver;
	border-radius: 2px;
	padding: 10px;
	background-color: rgb(0,0,0,1);
} */

.viewBox {
	
}

.buttonBox {
	border: 1px solid silver;
	border-radius: 2px;
	height: 30px;
}

.trackListing {
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
}

.albumStats {
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
	
}

img.artistPhoto {
	width: 300px;
	height: 300px;
	border: 1px solid silver;
	border-radius: 2px;
	//border-radius: 150px;
	background-image: radial-gradient(ellipse farthest-corner at 45px 45px , #FFFFFF 0%, rgba(0, 0, 255, 0) 50%, #000000 95%);
	float: left;
	padding: 10px;
	margin-right: 20px;
	
}

img {
	background-image: radial-gradient(ellipse farthest-corner at 45px 45px , #FFFFFF 0%, rgba(0, 0, 255, 0) 50%, #000000 95%);	

	box-shadow: 2px 2px 4px rgba(0,0,0,.5);
}

table a:hover {
	background: black;
	color: silver;
}

table caption {
	text-align: left;
	font-weight: bold;
	padding-left: 15px;
		
	background-image: linear-gradient(to bottom, rgba(255,255,255,.5), rgba(94, 0, 0, .5));
	border: 1px solid rgb(94, 0, 0);
	border-radius: 2px;
}

table tr:NTH-CHILD(2n) {
	background: gray;
}

table tr:NTH-CHILD(2n+1) {
	background: silver;
	
}

table img {
	width: 100px;
	height: 100px;
}

form ul {
	list-style-type: none;
	margin-left: 0px;
	padding-left: 0px;
}

form ul li {
	margin-bottom: 5px;
}

label {
	display: inline-block;
	width: 10em;
	vertical-align: top;
	text-align: right;
	padding-right: 15px;
	margin-right: 5px;
	background: silver;
	border-radius: 2px;
}

input, select, textarea {
	padding: 0px;
	margin: 0px;
	width: 40em;
	background-color: silver;
	vertical-align: top;
}

textarea {
	height: 3em;
}

button.dambButton {
	//font-family: inherit;
	font-family: 'Righteous', cursive;
}

button {
	//font-family: inherit;
	font-family: 'Righteous', cursive;
	
	color: silver;
	background: black;
	border: 1px solid silver;
	border-radius: 2px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin: 5px 5px 5px 5px;
	font-family: Arial, sans-serif;
	font-size: medium;
}

button:hover {
	color: black;
	background: silver;
	border: 1px solid black;
}

.deleteButton {
	background: rgb(94, 0, 0);
}

.deleteButton:hover {
	color: rgb(94, 0, 0);;
	background: silver;
	border: 1px solid rgb(94, 0, 0);;
}


.clear {
	clear: both;
	height: 50px;
}